header {
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 40px 400px 40px 50px;
    grid-template-columns: 1fr 1fr 1fr;
}

.base {
    grid-row: 3;
    grid-column: 1 / span 3;
    width: auto;
    background: black;
}

.container {
    grid-row: 2;
    width: auto;
    height: auto;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;    /*depends on number of rings */
    grid-template-columns: 1fr 25px 1fr;
}

.container1 {
    grid-column: 1;
    /* background: red; */
}

.container2 {
    grid-column: 2;
    /* background: green; */
}

.container3 {
    grid-column: 3;
    /* background: blue; */
}

.peg {
    grid-row: 1 / span 3;
    grid-column: 2;
    background: black;
}

/* .ring {
    height: 25px;
    width: 100px;
    background: blue;
} */