header {
    text-align: center;
}

main {
    display: grid;
    grid-template-rows: 1fr 400px 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.base {
    grid-row: 3;
    grid-column: 1 / span 3;
    width: auto;
    background: black;
}

.pegs {
    grid-row: 2;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: space-around;
}

.peg {
    height: 400px;
    width: 25px;
    background: black;
}

.ring {
    height: 25px;
    width: 100px;
    background: blue;
}